@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
	font-family: "Roboto", sans-serif;
}
.css-qzb8iw-MuiPaper-root-MuiTableContainer-root {
	box-shadow: none !important;
}
.css-1o0mhv8-MuiPaper-root-MuiTableContainer-root {
	box-shadow: none !important;
}
